@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:wght@700&display=swap');

* {
  user-select: none;
  font-family: Roboto, arial;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: normal;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

div>span {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.score {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;

}



@media only screen and (max-width: 768px) {

  .container {
    width: 90%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 480px) {

  .container {
    width: 100%;
    padding: 10px;
  }
}