/* Card Movie*/
.card {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.backface-invisible {
  backface-visibility: hidden;
}
